---
const { title, columnId, tasks } = Astro.props;
---

<div class="kanbanColumn" id={columnId}>
  <h2 class="title">{title}</h2>
  <div class="task-list" id={`${columnId}-list`}></div>
</div>

<!-- ========= Styling ========= -->
<style is:global>
  .kanbanColumn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    background-color: #171b27;
    padding: 0.75rem;
    height: 200px;
    min-height: 200px;
  }

  .title {
    display: inline;
    border-bottom: 2px solid red;
  }

  .task-list {
    width: 100%;
    flex: 1;
    min-height: 200px;
    height: 200px;
    margin: 0;
  }
  .task-list.is-over {
    outline: 2px dashed currentColor;
    outline-offset: 6px;
  }
  .todoItem[draggable="true"] {
    cursor: grab;
  }
  .todoItem:active {
    cursor: grabbing;
  }
</style>
